body {
    font-family: "Rubik Burned", system-ui;
    box-sizing: border-box;
}

main {
    margin-top: 45px;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

#search-bar {
    width: 400px;
}

#product-list {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 0 40px;
}

/* responsive */
@media screen and (max-width: 720px) {
    #search-bar {
        width: 400px;
    }
    
    #product-list { 
        grid-template-columns: auto auto;
    }
}